html {
    height: 100%;
  }
  html body {
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
  }
  html body .container-fluid.body-content {
    position: absolute;
    top: 150px;
    bottom: 180px;
    right: 0;
    left: 0;
    overflow-y: auto;
  }
  header {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: #000;
      height: 150px;
      overflow: hidden;
  }
  footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      height: 180px;
  }

  .center-content {
    margin: auto;
    max-width: 600px;
  }
  
  .bg-black {
    background-color: #000;
  }

  .clickable {
    cursor: pointer;
  }

  .control-button {
    height: 25px;
  }

  .del-button {
    height: 25px;
    float: right;
  }

  .m-left-15{
    margin-left: 15px;
  }

  .m-top-20 {
    margin-top: 20px;
  }

  .m-bottom-20 {
    margin-bottom: 20px;
  }

  .w-full {
    width: 100%;
  }

  .disabled-control {
    opacity: 0.2;
  }

  .toned-down {
    color: #999;
  }

  .logo-img {
    width: 330px;
    margin: auto;
    display: block;
    padding-top: 20px;
  }

  .big-text {
    font-size: 2.5em;
  }