@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "granaker.se - cost-o-meter";
}

<!doctype html>
<html lang="en">
  <head>
    <title>cost-o-meter</title>
    <!-- Source available at https://github.com/grankko/costometer -->
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <environment names="Production">
      <base href="https://granaker.se/costometer/">
    </environment>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css?@(DateTime.Now.ToString())">
  </head>
  <body>
  <header>
    <div class="center-content">
      <img src="img/logo-glow.png" alt="logo" class="logo-img" />
    </div>
  </header>
  <div class="container-fluid body-content">
    <costOMeterBody></costOMeterBody>    
  </div>
  <footer>
    <costOMeterFooter></costOMeterFooter>
  </footer>
    <script src="src/Views/costOMeterBody.tag" type="riot/tag"></script>
    <script src="src/Views/costOMeterFooter.tag" type="riot/tag"></script>
    <script src="src/Views/Modals/addResourceModal.tag" type="riot/tag"></script>
    <script src="src/Views/Modals/resetConfigurationModal.tag" type="riot/tag"></script>
    <script src="src/Views/Modals/loadConfigurationModal.tag" type="riot/tag"></script>
    <script src="src/Views/Modals/saveConfigurationModal.tag" type="riot/tag"></script>
    <script src="src/Views/Modals/setCurrencyModal.tag" type="riot/tag"></script>
        
    <script src="https://rawgit.com/riot/riot/master/riot%2Bcompiler.min.js"></script>
    <script src="src/app.js?@(DateTime.Now.ToString())"></script>
    <script>
        riot.mount('costOMeterBody', {viewModel: vm})
        riot.mount('costOMeterFooter', {viewModel: vm})
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.listgroup/1.1.2/listgroup.min.js"></script>
</body>
</html>
